/*------------general rules-----------*/
.App {
  background-color: black;
  width: 100vw;
}
h2 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 30px;
}
/*-------------header-----------------*/
main,
header {
  padding-left: 50px;
}
header {
  /* background-color: lightcoral; */
  height: 120px;
}
main {
  padding-bottom: 50px;
}
header img {
  height: 150px;
}
section div {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  height: 140px;
}
section div::-webkit-scrollbar {
  display: none;
}
section img {
  height: 132px;
}
